.App {
  font-family: sans-serif;
  
  align-items: center;
 
}
.g{gap: '8px';
  margin: '10px'}
.div{

height: 250px;

background: rgb(134, 240, 227);

border: 10px ridge rgb(2, 141, 127);

}